body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title, .content, .button-container {
  font-size: 20px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 20px 8px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
}